<app-parallax-hero-style1 bgImage="./assets/images/bg/04.jpg" classNames="overview-block-ptb  text-center iq-screenshots iq-bg-over iq-over-blue-80" data-jarallax='{"speed": 0.6}'>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-title white iq-font-white">
                    <app-section-title
                    title="Sofbox is Porfect for U"
                    subTitle="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's."
                    ></app-section-title>
                </div>
                <a href="javascript:void(0)" class="button bt-black">Let's Started</a>
            </div>
        </div>
    </div>
</app-parallax-hero-style1>
