<section class="pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6304.829986131271!2d-122.4746968033092!3d37.80374752160443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808586e6302615a1%3A0x86bd130251757c00!2sStorey+Ave%2C+San+Francisco%2C+CA+94129!5e0!3m2!1sen!2sus!4v1435826432051" width="600" height="530" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6">
                <h4 class="mb-4">Get in Touch</h4>
                <form>
                    <div class="row">
                        <div class="col-lg-6">  <input type="text" class="form-control" id="inputName" placeholder="Your Name"> </div>
                        <div class="col-lg-6">   <input type="Email" class="form-control" id="inputEmail" placeholder="Your Email"></div>
                        <div class="col-lg-12">  <input type="text" class="form-control" id="inputSubject" placeholder="Your Subject"></div>
                        <div class="col-lg-12"> <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Your Message"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <a class="button" href="">Send Message</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>