<div class="main-content">
  <!--=================================
Error -->
  <div class="error-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="error text-center text-white">
            <span class="iq-font-50">Oopps !</span>
            <h2 class="iq-font-200 iq-fw-6 mb-5 mt-5">404</h2>
            <h2 class="mb-5">The Page you Requested Coud Not Be Found.!</h2>
            <a href="/sofbox-saas" class="button">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
Error -->
</div>
