<section class="iq-features iq-rpt-0" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-black-section-title title="Features" subtitle="Great Feature"></app-black-section-title>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <app-black-card-style2>
          <div cardImage>
            <img src="./assets/sofbox-sass-black/images/features/01.png" class="img-fluid" alt="images">
          </div>
          <h5 class="mb-3" cardTitle>Calculate Your Work</h5>
          <p class="mb-0" cardContent>It is a long established fact that a reader will be distracted by the readable content.  </p>
        </app-black-card-style2>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-black-card-style2>
          <div cardImage>
            <img src="./assets/sofbox-sass-black/images/features/02.png" class="img-fluid" alt="images">
          </div>
          <h5 class="mb-3" cardTitle>Expenses & Reporting</h5>
          <p class="mb-0" cardContent>It is a long established fact that a reader will be distracted by the readable content.  </p>
        </app-black-card-style2>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-black-card-style2>
          <div cardImage>
            <img src="./assets/sofbox-sass-black/images/features/01.png" class="img-fluid" alt="images">
          </div>
          <h5 class="mb-3" cardTitle>Mail Management</h5>
          <p class="mb-0" cardContent>It is a long established fact that a reader will be distracted by the readable content.  </p>
        </app-black-card-style2>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-black-card-style2>
          <div cardImage>
            <img src="./assets/sofbox-sass-black/images/features/02.png" class="img-fluid" alt="images">
          </div>
          <h5 class="mb-3" cardTitle>Fast Performance</h5>
          <p class="mb-0" cardContent>It is a long established fact that a reader will be distracted by the readable content.  </p>
        </app-black-card-style2>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-black-card-style2>
          <div cardImage>
            <img src="./assets/sofbox-sass-black/images/features/01.png" class="img-fluid" alt="images">
          </div>
          <h5 class="mb-3" cardTitle>Fully Responsive</h5>
          <p class="mb-0" cardContent>It is a long established fact that a reader will be distracted by the readable content.  </p>
        </app-black-card-style2>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-black-card-style2>
          <div cardImage>
            <img src="./assets/sofbox-sass-black/images/features/02.png" class="img-fluid" alt="images">
          </div>
          <h5 class="mb-3" cardTitle>Awesome Design</h5>
          <p class="mb-0" cardContent>It is a long established fact that a reader will be distracted by the readable content.  </p>
        </app-black-card-style2>
      </div>
    </div>
  </div>
</section>
