<app-about-style1 ids="how-it-works" className="overview-block-ptb how-works r-mt-40" [reverse]="false" [animation]="false">
  <div sectionImage>
    <img class="iq-works-imgs img-fluid" src="./assets/images/bg/20.png" alt="drive01">
  </div>
  <div sectionTitle>
    <h2 class="iq-tw-6 iq-mb-25">What is sofbox ?</h2>
  </div>
  <div sectionBody>
    <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <a href="javascript:void(0)" class="button iq-mt-10">Click Here</a>
  </div>
</app-about-style1>

<app-about-style1 ids="how-works" className="overview-block-pb how-works r-mt-40 iq-rmt-80" [reverse]="true" [animation]="false">
  <div sectionImage>
    <img class="iq-works-imgs img-fluid" src="./assets/images/bg/12.png" alt="drive01">
  </div>
  <div sectionTitle>
    <h2 class="iq-mb-25 iq-tw-6">What sofbox can do ?</h2>
  </div>
  <div sectionBody>
    <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <a href="javascript:void(0)" class="button  iq-mt-5 ">Download</a>
  </div>
</app-about-style1>
