<section class="overview-block-ptb grey-bg">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 align-self-center ">
            <h2 class="iq-mb-25 iq-tw-7">Develop more beautiful thing with Sofbox</h2>
            <p class="">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
            <div class="media iq-mt-30">
               <img class="mr-3 rounded-circle align-self-center" src="./assets/images/testimonial/01.jpg" alt="Generic placeholder image">
               <div class="media-body iq-pr-30 iq-pt-15">
                  <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry."</p>
               </div>
            </div>
         </div>
         <div class="col-lg-6 align-self-center r-mt-30">
            <div class="media-wrapper">
               <video style="width:100%;height:100%;" id="player1" poster="./assets/video/01.jpg" controls="" preload="none">
                  <source type="video/m4v" src="video/01.m4v">
                  <source type="video/webm" src="video/01.webm">
                  <source type="video/ogg" src="video/01.ogv">
               </video>
            </div>
         </div>
      </div>
   </div>
</section>
