<section class="iq-team pt-0" id="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-black-section-title title="Team" subtitle="Our Team"></app-black-section-title>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <app-black-card-style3 className="team wow slideInUp" [right]="false">
          <div class="team-img" cardMedia><img src="./assets/sofbox-sass-black/images/team/01.jpg" class="img-fluid" alt="images"></div>
          <div cardContent>
            <h5 class="mb-3">Nik Jorden</h5>
            <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the </p>
            <ul class="social-media">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </app-black-card-style3>
        <app-black-card-style3 className="team mb-0 wow slideInUp" [right]="false">
          <div class="team-img" cardMedia><img src="./assets/sofbox-sass-black/images/team/02.jpg" class="img-fluid" alt="images"></div>
          <div cardContent>
            <h5 class="mb-3">Nik Jorden</h5>
            <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the </p>
            <ul class="social-media">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </app-black-card-style3>
      </div>
      <div class="col-lg-6">
        <app-black-card-style3 className="team team-right wow slideInUp" [right]="true">
          <div class="team-img" cardMedia><img src="./assets/sofbox-sass-black/images/team/03.jpg" class="img-fluid" alt="images"></div>
          <div cardContent>
            <h5 class="mb-3">Nik Jorden</h5>
            <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the </p>
            <ul class="social-media">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </app-black-card-style3>
        <app-black-card-style3 className="team mb-0 wow slideInUp" [right]="true">
          <div class="team-img" cardMedia><img src="./assets/sofbox-sass-black/images/team/04.jpg" class="img-fluid" alt="images"></div>
          <div cardContent>
            <h5 class="mb-3">Nik Jorden</h5>
            <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the </p>
            <ul class="social-media">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </app-black-card-style3>
      </div>
    </div>
  </div>
</section>
