<!-- How it Works -->
<section id="how-it-works" class="overview-block-ptb it-works grey-bg">
  <div class="container">
    <div class="iq-box-shadow iq-pt-60 iq-mt-60">
      <div class="row">
        <div class="col-sm-12">
          <app-section-title
            title="What is sofbox ?"
            subTitle="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          ></app-section-title>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <app-card-style5 step="1">
            <img cardMedia src="./assets/images/services/icon1.png" class="img-fluid" alt="#">
            <div cardBody>
              <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Easy to Customize</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
            </div>
          </app-card-style5>
        </div>
        <div class="col-md-12 col-lg-4 r-mt-30">
          <app-card-style5 step="2">
            <img cardMedia src="./assets/images/services/icon2.png" class="img-fluid" alt="#">
            <div cardBody>
              <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Multipurpose layout</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
            </div>
          </app-card-style5>
        </div>
        <div class="col-md-12 col-lg-4 r-mt-30">
          <app-card-style5 step="3">
            <img cardMedia src="./assets/images/services/icon3.png" class="img-fluid" alt="#">
            <div cardBody>
              <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Unique Design</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
            </div>
          </app-card-style5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How it Works END -->

<!-- Who is Sofbox ? -->
<section id="how-works" class="overview-block-ptb how-works r-mt-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="heading-title left text-left">
          <h3 class="iq-tw-7 iq-mb-25 title">How it works ?</h3>
        </div>
        <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <p class="iq-font-15 iq-mt-20">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <h6 class="iq-tw-6 iq-mt-25">Discover our best ever services.</h6>
        <a href="javascript:void(0)" class="button iq-mt-10">Click Here</a>
      </div>
      <div class="col-lg-6 align-self-center">
        <img class="iq-works-img" src="./assets/images/drive/01.png" alt="drive01">
      </div>
    </div>
  </div>
  <div class="iq-objects">
    <span class="iq-objects-01">
      <img src="./assets/images/drive/02.png" alt="drive02">
    </span>
    <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
      <img src="./assets/images/drive/03.png" alt="drive02">
    </span>
    <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
      <img src="./assets/images/drive/04.png" alt="drive02">
    </span>
    <span class="iq-objects-04 iq-fadebounce">
      <span class="iq-round"></span>
    </span>
  </div>
</section>
<!-- Who is Sofbox ? END -->


