<div class="overview-block-ptb iq-tab horizontal blue-bg"  id="great-screenshots">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="heading-title iq-font-white white">
               <h3 class="title iq-tw-7 iq-font-white">Why Choose Sofbox ?</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-pills tabs-left justify-content-center" id="pills-tab2" role="tablist">
               <li class="nav-item iq-r-mb-15" *ngFor="let tab of tabs">
                  <a class="nav-link sof-box" [ngClass]="{'active1': tab.active, ' ': tab.active}" (click)="tabActive(tab.href)" [id]="tab.id" data-toggle="pill" [href]="'#' + tab.href" role="tab" [attr.aria-controls]="tab.href" >
                  <i [class]="tab.icon"></i> {{ tab.title }}
                  </a>
               </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content iq-mt-30">
               <div class="tab-pane active" id="retina1">
                  <div class="row flex-row-reverse">
                     <div class="col-lg-6  col-md-6">
                        <img src="./assets/images/product/07.png" class="img-fluid iq-pr-50" alt="">
                     </div>
                     <div class="col-lg-6  col-md-6 text-left align-self-center">
                        <h3 class="iq-tw-7 iq-font-white">We Are An Agency That Focuses On Digital Design Solutions</h3>
                        <p class="iq-mt-30 iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                        <a href="javascript:void(0)" class="button bt-black">Let's Started</a>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="designs1">
                  <div class="row">
                     <div class="col-lg-6 col-md-6">
                        <img src="./assets/images/product/06.png" class="img-fluid iq-pr-50" alt="">
                     </div>
                     <div class="col-lg-6 col-md-6 text-left align-self-center">
                        <h3 class="iq-tw-7 iq-font-white">We Are An Agency That Focuses On Digital Design Solutions</h3>
                        <p class="iq-mt-30 iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                        <a href="javascript:void(0)" class="button bt-black">Let's Started</a>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="customize1">
                  <div class="row flex-row-reverse">
                     <div class="col-lg-6 col-md-6">
                        <img src="./assets/images/product/07.png" class="img-fluid iq-pr-50" alt="">
                     </div>
                     <div class="col-lg-6 col-md-6 text-left align-self-center">
                        <h3 class="iq-tw-7 iq-font-white">We Are An Agency That Focuses On Digital Design Solutions</h3>
                        <p class="iq-mt-30 iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                        <a href="javascript:void(0)" class="button bt-black">Let's Started</a>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="clean1">
                  <div class="row">
                     <div class="col-lg-6 col-md-6">
                        <img src="./assets/images/product/05.png" class="img-fluid iq-pr-50" alt="">
                     </div>
                     <div class="col-lg-6 col-md-6 text-left align-self-center">
                        <h6 class="iq-font-main iq-font-blue iq-mb-10">We’re Creative Agency</h6>
                        <h3 class="iq-tw-7 iq-font-white">We Are An Agency That Focuses On Digital Design Solutions</h3>
                        <p class="iq-mt-30 iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                        <a href="javascript:void(0)" class="button bt-black">Let's Started</a>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="revolution1">
                  <div class="row flex-row-reverse">
                     <div class="col-lg-6 col-md-6">
                        <img src="./assets/images/product/06.png" class="img-fluid iq-pr-50" alt="">
                     </div>
                     <div class="col-lg-6 col-md-6 text-left align-self-center">
                        <h6 class="iq-font-main iq-font-blue iq-mb-10">We’re Creative Agency</h6>
                        <h3 class="iq-tw-7 iq-font-white">We Are An Agency That Focuses On Digital Design Solutions</h3>
                        <p class="iq-mt-30 iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                        <a href="javascript:void(0)" class="button bt-black">Let's Started</a>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="responsive1">
                  <div class="row">
                     <div class="col-lg-6 col-md-6">
                        <img src="./assets/images/product/07.png" class="img-fluid iq-pr-50" alt="">
                     </div>
                     <div class="col-lg-6 col-md-6 text-left align-self-center">
                        <h6 class="iq-font-main iq-font-blue iq-mb-10">We’re Creative Agency</h6>
                        <h3 class="iq-tw-7 iq-font-white">We Are An Agency That Focuses On Digital Design Solutions</h3>
                        <p class="iq-mt-30 iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                        <a href="javascript:void(0)" class="button bt-black">Let's Started</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
