<!-- Blog-->
<section class="iq-blogs pt-0">
  <div class="container ">
    <div class="row no-gutters">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h6 class="title text-white">Blog</h6>
          <h2 class="text-white">Our Blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="owl-carousel owl-theme owl-loaded" data-dots="false" data-nav="false"  data-items="2" data-items-laptop="2" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-autoplay="true" data-margin="30">
          <div class="item">
            <app-black-card-style4 image="./assets/sofbox-sass-black/images/blog/04.jpg">
              <ng-container cardBody>
                <a routerLink="/sofbox-saas/blog-detail-left-sidebar"><h2 class="font-weight-bold">Fully Dedicated Finding</h2></a>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              </ng-container>
              <div cardFooter>
                <ul class="list-inline">
                  <li class="list-inline-item  font-weight-bold"><a href="" class="text-white">April 05, 2019</a></li>
                  <li class="float-right list-inline-item ml-3"><a href="" class="text-white font-weight-bold"><span class="icon"><i class=" far fa-comment-alt"></i></span> 40 </a></li>
                  <li class="float-right list-inline-item "><a href="" class="text-white font-weight-bold"><span class="icon"><i class="far fa-heart"></i></span> 40 </a></li>
                </ul>
              </div>
            </app-black-card-style4>
          </div>
          <div class="item">
            <app-black-card-style4 image="./assets/sofbox-sass-black/images/blog/02.jpg">
              <ng-container cardBody>
                <a routerLink="/sofbox-saas/blog-detail-left-sidebar"><h2 class="font-weight-bold">Fully Dedicated Finding</h2></a>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              </ng-container>
              <div cardFooter>
                <ul class="list-inline">
                  <li class="list-inline-item  font-weight-bold"><a href="" class="text-white">April 05, 2019</a></li>
                  <li class="float-right list-inline-item ml-3"><a href="" class="text-white font-weight-bold"><span class="icon"><i class=" far fa-comment-alt"></i></span> 40 </a></li>
                  <li class="float-right list-inline-item "><a href="" class="text-white font-weight-bold"><span class="icon"><i class="far fa-heart"></i></span> 40 </a></li>
                </ul>
              </div>
            </app-black-card-style4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog End -->
