<section class="overview-block-ptb blue-bg text-center">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h3 class="iq-tw-7 iq-mb-20 iq-font-white">Build your own design system with Sofbox</h3>
            <h6 class="iq-font-white iq-mb-30">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, naking this.</h6>
            <a href="javascript:void(0)" class="button bt-black">Let's Started</a>
         </div>
      </div>
   </div>
</section>