<section class="pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <app-v-two-section-title [titleSectionProp]="titleSectionProp"></app-v-two-section-title>
                <div class="iq-accordion career-style">
                    <div *ngFor="let list of List" class="iq-accordion-block {{ list.active !== undefined && list.active ? 'accordion-active' : '' }}">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-9 col-sm-12 ">
                                        <a [routerLink]="[list.link]" class="accordion-title">
                                            <span>{{ list.title }}</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-12 text-center text-lg-right text-md-right">
                                        <a class="button-gradient" [routerLink]="[list.link]">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>