<app-about-style1 ids="how-it-works" className="overview-block-ptb how-works">
   <div sectionImage>
      <img class="iq-works-imgs" src="./assets/images/drive/iPad-Mockup1.png" alt="drive01">
   </div>
   <div sectionTitle>
      <div class="heading-title left text-left">
         <h3 class="iq-tw-7 iq-mb-25 title">What can sofbox do ?</h3>
      </div>
   </div>
   <div sectionBody>
      <p class="">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      <a href="javascript:void(0)" class="button iq-mt-10">Click Here</a>
   </div>
</app-about-style1>
<app-about-style1 ids="how-works" className="overview-block-ptb how-works r-mt-40" [reverse]="true">
   <div sectionImage>
      <img class="iq-works-imgs" src="./assets/images/drive/iPad-Mockup.png" alt="drive01">
   </div>
   <div sectionTitle>
      <div class="heading-title left text-left">
       <h3 class="iq-mb-25 iq-tw-7 title">Beautiful interface</h3>
      </div>
   </div>
   <div sectionBody>
      <p class="">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      <a href="javascript:void(0)" class="button  iq-mt-5 ">Download</a>
   </div>
</app-about-style1>
