<!-- Banner -->
<app-parallax-hero-style1 ids="iq-home" bgImage="./assets/images/bg/01.jpg" classNames="iq-banner-03 overview-block-pt iq-bg-over iq-over-blue-90 iq-parallax">
    <div class="container">
        <div class="banner-text">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-uppercase iq-font-white iq-tw-3">Sixteen Hundreds <b class="iq-tw-7">Solutions</b></h1>
                    <p class="iq-font-white iq-pt-15 iq-mb-40">We are here to help you drive your businesses using technology with a different approach from most, because we take the time to learn your business inside-and-out before we make a single technology choice.</p>
                    <a href="javascript:void(0)" class="button bt-black">Explore</a>
                </div>
                <div class="col-md-6">
                    <div class="iq-banner-video">
                        <div class="waves-box">
                            <!-- <a href="./assets/video/01.mp4" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a> -->
                            <div class="iq-waves">
                                <div class="waves wave-1"></div>
                                <div class="waves wave-2"></div>
                                <div class="waves wave-3"></div>
                            </div>
                        </div>
                        <img class="banner-img" src="./assets/images/banner/05.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-objects">
        <span class="banner-objects-01" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-50px);">
      <img src="./assets/images/drive/03.png" alt="drive02">
    </span>
        <span class="banner-objects-02 iq-fadebounce">
      <span class="iq-round"></span>
        </span>
        <span class="banner-objects-03 iq-fadebounce">
      <span class="iq-round"></span>
        </span>
        <span class="banner-objects-04" data-bottom="transform:translatex(100px)" data-top="transform:translatex(-100px);">
      <img src="./assets/images/drive/04.png" alt="drive02">
    </span>
    </div>
</app-parallax-hero-style1>
<!-- Banner End -->