<app-footer-main>
  <div footerContent>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 iq-mtb-20">
        <app-footer-links title="Platforms" [content]="footerPlatform"></app-footer-links>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 iq-mtb-20">
        <app-footer-links title="Menu" [content]="footerHome"></app-footer-links>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 iq-mtb-20">
        <app-footer-links title="Community" [content]="footerCommunity"></app-footer-links>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 iq-mtb-20">
        <app-footer-links title="Company" [content]="footerCompany"></app-footer-links>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
        <app-footer-address [addressContent]="footerText"></app-footer-address>
      </div>
    </div>
    <hr>
    <div class="row iq-mt-20 align-items-center">
      <div class="col-auto mr-auto">
        <ul class="link">
          <li class="d-inline-block img-fluid"><img class="img-fluid logo_img" id="logo_img" src="./assets/images/color-customizer/color-1.png" alt="#"></li>
          <li class="d-inline-block iq-mr-10"><a href="javascript:void(0)">Term and Condition</a></li>
          <li class="d-inline-block"><a href="javascript:void(0)"> Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-auto">
        <div class="iq-copyright iq-ml-10">
          © 2018 <a href="index-12.html">Sofbox</a> All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</app-footer-main>
