<section id="software-features" class="overview-block-ptb grey-bg main-service-box">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="heading-title">
               <h3 class="title iq-tw-7">Sofbox Specialities</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-7 col-md-12">
            <img src="./assets/images/drive/iPad-Mockup.png" class="img-fluid" alt="#">
         </div>
         <div class="col-lg-5 col-md-12 left-img">
            <div class="media service-box">
               <i aria-hidden="true" class="ion-ios-pie-outline"></i>
               <div class="media-body">
                  <h5 class="iq-tw-7 mt-0">Design</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
               </div>
            </div>
            <div class="media service-box">
               <i aria-hidden="true" class="ion-ios-grid-view-outline"></i>
               <div class="media-body">
                  <h5 class="iq-tw-7 mt-0">Code</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
               </div>
            </div>
            <div class="media service-box">
               <i aria-hidden="true" class="ion-ios-monitor-outline"></i>
               <div class="media-body">
                  <h5 class="iq-tw-7 mt-0">Functionality</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
