<section id="iq-home" class="iq-banner-11 overview-block-pt blue-bg">
  <div class="container-fluid">
    <div class="banner-text">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center">
          <h1 class="text-uppercase iq-font-white iq-tw-3">unique graphic <b class="iq-tw-7">software</b> design</h1>
          <p class="iq-font-white iq-pt-15 iq-mb-40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
          <a href="javascript:void(0)" class="button bt-black iq-mt-20 iq-mr-20 rbtn">Get Started</a>
          <a href="javascript:void(0)" class="button bt-black iq-mt-20 rbtn">Play Video</a>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 r-mt-40">
          <img class="img-fluid" src="./assets/images/banner/09.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
