<app-parallax-hero-style1 classNames="iq-ptb-100 iq-counter-box iq-bg-over iq-over-blue-90 iq-font-white iq-parallax" bgImage="./assets/images/bg/02.jpg" ids="counter">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-12 text-left">
            <div class="counter">
               <i class="ion-ios-folder-outline " aria-hidden="true"></i>
               <div class="counter-date">
                  <label class="iq-font-white text-uppercase">App Downloads</label>
                  <span class="timer iq-tw-7" [CountTo]="1540" [from]="0" [duration]="5">1540</span>
               </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-12 text-left r4-mt-30">
            <div class="counter">
               <i class="ion-ios-paper-outline " aria-hidden="true"></i>
               <div class="counter-date">
                  <label class="iq-font-white text-uppercase">Happy Clients</label>
                  <span class="timer iq-tw-7" [CountTo]="2530" [from]="0" [duration]="5">2530</span>
               </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-12 text-left r-mt-30">
            <div class="counter">
               <i class="ion-ios-person-outline " aria-hidden="true"></i>
               <div class="counter-date">
                  <label class="iq-font-white text-uppercase">Active Accounts</label>
                  <span class="timer iq-tw-7" [CountTo]="8120" [from]="0" [duration]="5">8120</span>
               </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-12 text-left r-mt-30">
            <div class="counter">
               <i class="ion-ios-star " aria-hidden="true"></i>
               <div class="counter-date">
                  <label class="iq-font-white text-uppercase">Total App Rates</label>
                  <span class="timer iq-tw-7" [CountTo]="1620" [from]="0" [duration]="5">1620</span>
               </div>
            </div>
         </div>
      </div>
      <div class="counter-info iq-mt-60 iq-pt-60">
         <div class="row">
            <div class="col-lg-6">
               <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
               <p class="iq-mt-30">It has survived not only five centuries, but also the leap into electronic type setting, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               <a href="javascript:void(0)" class="button bt-black iq-mt-15 iq-mb-30">Download</a>
            </div>
            <div class="col-lg-6">
               <div class="counter-info-img">
                  <img class="center-block" src="assets/images/drive/07.png" alt="#">
                  <div class="waves-box">
                     <a href="https://www.youtube.com/watch?v=kzyFmrFky7Y" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
                     <div class="iq-waves">
                        <div class="waves wave-1"></div>
                        <div class="waves wave-2"></div>
                        <div class="waves wave-3"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</app-parallax-hero-style1>
