<section id="iq-faq" class="overview-block-pt it-works grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <app-section-title
                title="Frequently Asked Questions"
                subTitle="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
            ></app-section-title>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h6 class="iq-font-blue iq-tw-6 iq-pb-10 iq-pt-20">Lorem Ipsum is simply dummy text of the printing ?</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
            <div class="col-lg-6">
                <h6 class="iq-font-blue iq-tw-6 iq-pb-10 iq-pt-20">Lorem Ipsum is simply dummy text of the printing ?</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
            <div class="col-lg-6">
                <h6 class="iq-font-blue iq-tw-6 iq-pb-10 iq-pt-20">Lorem Ipsum is simply dummy text of the printing ?</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
            <div class="col-lg-6">
                <h6 class="iq-font-blue iq-tw-6 iq-pb-10 iq-pt-20">Lorem Ipsum is simply dummy text of the printing ?</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
            <div class="col-lg-6">
                <h6 class="iq-font-blue iq-tw-6 iq-pb-10 iq-pt-20">Lorem Ipsum is simply dummy text of the printing ?</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
            <div class="col-lg-6">
                <h6 class="iq-font-blue iq-tw-6 iq-pb-10 iq-pt-20">Lorem Ipsum is simply dummy text of the printing ?</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
        </div>
    </div>
    <img class="img-fluid" src="./assets/images/drive/item.png" alt="">
    </section>
