<app-loader></app-loader>
<!-- Header -->
<app-header-style2 [logoImg]="navLogo" [navItemList]="navItems" className="header-fancy " [styledLogo]="false">
  <a href="javascript:void(0)" class="button bt-black pull-right" navContent><i class="ion-ios-unlocked-outline"></i></a>
</app-header-style2>
<!-- Header End -->

<app-home></app-home>


<div class="main-content">
  <!-- How it Works -->
  <app-about></app-about>

  <app-service></app-service>

  <app-specialities></app-specialities>

  <app-counter></app-counter>

  <app-testimonial></app-testimonial>

  <app-pricing></app-pricing>

  <app-team></app-team>

  <app-compare-services></app-compare-services>

  <app-faq></app-faq>

  <app-blog></app-blog>

</div>

<!-- Main Content END -->
<footer>
  <!-- Subscribe Our Newsletter -->
  <app-parallax-hero-style1 classNames="iq-ptb-100 iq-newsletter iq-bg-over iq-over-blue-90 jarallax" bgImage="./assets/images/bg/01.jpg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title white iq-mb-40">
            <h3 class="title iq-tw-7">Subscribe Our Newsletter</h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <form class="form-inline">
            <input type="text" name="email" value="..." autocomplete="username email" style="display: none;" />
            <div class="form-group">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Enter your email" autocomplete="new-password">
            </div>
            <a class="button bt-black iq-ml-25" href="javascript:void(0)">subscribe</a>
          </form>
        </div>
      </div>
    </div>
  </app-parallax-hero-style1>
  <!-- Subscribe Our Newsletter END -->
  <!-- Footer Info -->
  <app-contact></app-contact>
  <app-footer-style3>
    <p address>1234 North Avenue Luke Lane, South Bend, IN 360001</p>
    <p phone>+0123 456 789
      <br>Mon-Fri 8:00am - 8:00pm
      <br>
    </p>
    <p mail>support@sofbox.com
      <br>24 X 7 online support
      <br>
    </p>
    <ul links>
      <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
      <li><a href="javascript:void(0)"><i class="fab fa-facebook"></i></a></li>
      <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
      <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
    </ul>
  </app-footer-style3>
  <!-- Footer Info End-->
</footer>
<!-- Color Style customizer-->
<app-color-customizer></app-color-customizer>
<!-- Color Style customizer end-->
<!-- Scroll to top-->
<app-scroll-top></app-scroll-top>
<!-- Scroll to top end-->

