<section class="overview-block-ptb white-bg iq-asked">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="heading-title">
               <h3 class="title iq-tw-7">Frequently Asked Questions</h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
         </div>
      </div>
      <div class="row align-items-center">
         <div class="col-md-12 col-lg-6">
            <img class="img-fluid center-block" src="./assets/images/drive/10.png" alt="drive10" style="z-index: 9; position: relative;">
         </div>
         <div class="col-md-12 col-lg-6">
            <div class="iq-accordion">
               <div class="iq-accordion accordion-active">
                  <a href="javascript:void(0)" class="accordion-title iq-tw-7 iq-font-grey">Ipsum is simply dummy the printing?</a>
                  <div class="accordion-details">
                     <div class="row">
                        <div class="col-sm-3"><img alt="#" class="img-fluid" src="./assets/images/blog/01.jpg"></div>
                        <div class="col-sm-9"> It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est.</div>
                     </div>
                  </div>
               </div>
               <div class="iq-accordion">
                  <a href="javascript:void(0)" class="accordion-title iq-tw-7 iq-font-grey">Dummy the printing and type setting?</a>
                  <div class="accordion-details">It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est.</div>
               </div>
               <div class="iq-accordion">
                  <a href="javascript:void(0)" class="accordion-title iq-tw-7 iq-font-grey">Standard dummy since the 1500s?</a>
                  <div class="accordion-details">
                     <div class="row">
                        <div class="col-sm-9"> It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est.</div>
                        <div class="col-sm-3"><img alt="#" class="img-fluid" src="./assets/images/blog/01.jpg"></div>
                     </div>
                  </div>
               </div>
               <div class="iq-accordion">
                  <a href="javascript:void(0)" class="accordion-title iq-tw-7 iq-font-grey">It has survived five centuries?</a>
                  <div class="accordion-details">It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est.</div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="iq-objects-asked">
      <span class="iq-objects-01">
      <img src="./assets/images/drive/02.png" alt="drive02">
      </span>
      <span class="iq-objects-02" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
      <img src="./assets/images/drive/04.png" alt="drive02">
      </span>
      <span class="iq-objects-03 iq-fadebounce">
      <span class="iq-round"></span>
      </span>
   </div>
</section>
