<section id="our-pricing" class="overview-block-pt iq-mt-20 our-pricing-1 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <app-section-title
          title="Our Pricing"
          subTitle="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
        ></app-section-title>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel pricing-table">
      <div class="row">
        <div class="col-lg-4 col-md-12" >
          <app-pricing-card-style3 icon="ion-ios-person-outline" title="Personal">
            <div cardBody>
              <ul class="pricing-features">
                <li class="pricing-features-item">Custom domains</li>
                <li class="pricing-features-item">Sleeps after 30 mins of inactivity</li>
              </ul>
              <span class="pricing-price">Free</span>
              <a class="iq-mt-40 button" href="javascript:void(0)">Purchase</a>
            </div>
          </app-pricing-card-style3>
        </div>
        <div class="col-lg-4 col-md-12">
          <app-pricing-card-style3 icon="ion-ios-people-outline" title="Small team">
            <div cardBody>
              <ul class="pricing-features">
                <li class="pricing-features-item">Never sleeps</li>
                <li class="pricing-features-item">Multiple workers for more powerful apps</li>
              </ul>
              <span class="pricing-price">$150</span>
              <a class="iq-mt-40 button" href="javascript:void(0)">Purchase</a>
            </div>
          </app-pricing-card-style3>
        </div>
        <div class="col-lg-4 col-md-12">
          <app-pricing-card-style3 icon="ion-ios-world-outline" title="Enterprise">
            <div cardBody>
              <ul class="pricing-features">
                <li class="pricing-features-item">Dedicated</li>
                <li class="pricing-features-item">Simple horizontal scalability</li>
              </ul>
              <span class="pricing-price">$400</span>
              <a class="iq-mt-40 button" href="javascript:void(0)">Purchase</a>
            </div>
          </app-pricing-card-style3>
        </div>
      </div>
    </div>
    <div class="iq-ptb-80">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="false" data-items="5" data-items-laptop="5" data-items-tab="4" data-items-mobile="3" data-items-mobile-sm="1" data-margin="30" >
            <div class="item"> <img class="img-fluid center-block" src="./assets/images/clients/01.png" alt="#"></div>
            <div class="item"> <img class="img-fluid center-block" src="./assets/images/clients/02.png" alt="#"></div>
            <div class="item"> <img class="img-fluid center-block" src="./assets/images/clients/03.png" alt="#"></div>
            <div class="item"> <img class="img-fluid center-block" src="./assets/images/clients/04.png" alt="#"></div>
            <div class="item"> <img class="img-fluid center-block" src="./assets/images/clients/05.png" alt="#"></div>
            <div class="item"> <img class="img-fluid center-block" src="./assets/images/clients/06.png" alt="#"></div>
            <div class="item"> <img class="img-fluid center-block" src="./assets/images/clients/07.png" alt="#"></div>
            <div class="item"> <img class="img-fluid center-block" src="./assets/images/clients/08.png" alt="#"></div>
            <div class="item"> <img class="img-fluid center-block" src="./assets/images/clients/09.png" alt="#"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
