<!-- Footer Info -->
<section id="contact" class="footer-info white-bg">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 col-lg-4">
                <div class="iq-get-in">
                    <h4 class="iq-tw-7 iq-mb-20">Get in Touch</h4>
                    <app-contact-form></app-contact-form>
                </div>
            </div>
        </div>
    </div>
    <iframe class="map" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Thomas Tera Haven Ajah&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" style="border:0" allowfullscreen></iframe>
</section>