<section class="pt-0 overflow-hidden" id="iq-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <app-v-two-section-title [titleSectionProp]="titleSectionProp"></app-v-two-section-title>
            </div>
        </div>
        <div class="row position-relative">
            <div *ngFor="let list of List;let i = index" class="col-lg-4">
                <div class="box-effect shadow-effect wow fadeInUp text-center feature-box-effect {{ i == 0 ? 'selected' : '' }}" data-wow-delay="0.6s">
                    <div class="icon-box">
                        <div class="img-effect mb-4">
                            <img src="{{ list.image }}" alt="fancybox">
                        </div>
                        <h5 class="mb-2">{{ list.title }}</h5>
                        <p class="mb-0">{{ list.desc }}</p>
                    </div>
                </div>
            </div>
            <div class="layer_wrap iq-objects  style-one right-top"><span class="iq-objects-01">
                <img src="./assets/sofbox-v2/images/home-2/210.png" alt="drive02">
            </span>
        </div>
    </div>
</div>
</section>