<!-- Loader component start-->
<app-loader></app-loader>
<!-- Loader component end-->
<!-- Header component start-->
<app-header-style1 [logoImg]="navLogo" className="header-white" [navItemList]="navItems">
  <a href="#" class="button-line pull-right" navContent>Download</a>
</app-header-style1>
<!-- Header component end-->
<!-- Home section start-->
<app-home></app-home>
<!-- Home section end-->
<!-- About section start-->
<app-about></app-about>
<!-- About section end-->
<!-- Box mail section start-->
<app-section-style6 sectionClass="overview-block-ptb blue-bg iq-font-white box-mail" colRight=4 colLeft=8>
  <ng-container ngProjectAs="sectionTitle">
      Renew Your Licence
  </ng-container>
  <ng-container ngProjectAs="sectionImage">
      <img class="img-fluid" src="./assets/images/drive/15.png" alt="">
  </ng-container>
  <ng-container ngProjectAs="sectionDescription">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </ng-container>
  <ng-container ngProjectAs="sectionFooter">
      <a href="javascript:void(0)" class="button bt-black iq-mt-10 iq-mr-20">Renew Home</a>
      <a href="javascript:void(0)" class="button-line-white iq-mt-10">Renew Business</a>
  </ng-container>
</app-section-style6>
<!-- Box mail section end-->
<!-- Team section start -->
<app-section-style id="iq-team">
  <h3 sectionTitle class="title iq-tw-7">Meet The Team</h3>
  <p sectionDescription>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>
  <div sectionContent>
      <app-team></app-team>
  </div>
  <div sectionFooter>
      <a href="javascript:void(0)" class="button-blue-shadow iq-mt-40">
        Here More Team Members
      </a>
  </div>
</app-section-style>
<!-- Team section end -->
<!-- Counter section start -->
<app-section-style sectionClass="iq-counter-box-2 overview-block-pb it-works re4-mt-50" sectionId="iq-counter">
    <h3 sectionTitle class="title iq-tw-7">Happy Downloads</h3>
    <p sectionDescription>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <div sectionContent>
        <app-counter></app-counter>
    </div>
</app-section-style>
<!-- Counter section end -->
<!-- Feature section start -->
<app-section-style6 sectionClass="blue-bg iq-ptb-40 get-feature iq-font-white iq-mt-30" fullWidth=true reverse=true>
  <ng-container ngProjectAs="sectionTitle">
    Lorem Ipsum is simply
  </ng-container>
  <ng-container ngProjectAs="sectionImage">
    <img class="img-fluid" src="./assets/images/drive/16.png" alt="">
  </ng-container>
  <ng-container ngProjectAs="sectionDescription">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </ng-container>
  <ng-container ngProjectAs="sectionFooter">
    <a href="javascript:void(0)" class="button bt-black iq-mt-10 iq-mr-20">Renew Home</a>
    <a href="javascript:void(0)" class="button-line-white iq-mt-10">Re Download</a>
  </ng-container>
</app-section-style6>
<!-- Feature section end -->
<!-- Specialities section start -->
<app-section-style sectionClass="overview-block-ptb text-center">
    <h2 sectionTitle class="title iq-tw-7 iq-mb-20">
      Lorem simply dummy
    </h2>
    <p sectionDescription>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <div sectionFooter>
        <a href="javascript:void(0)" class="button-blue-shadow iq-mt-20 iq-mr-20">Learn More</a>
        <a href="javascript:void(0)" class="button-line-shadow iq-mt-20">Download</a>
    </div>
</app-section-style>
<!-- Specialities section end -->
<!-- Footer component start -->
<app-footer></app-footer>
<!-- Footer component end -->
<!-- Color Style customizer start -->
<app-color-customizer></app-color-customizer>
<!-- Color Style customizer end-->
<!-- Scroll to top start -->
<app-scroll-top></app-scroll-top>
<!-- Scroll to top end-->
