<section id="iq-responsive" class="overview-block-ptb text-center iq-responsive-media ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-section-icon-title className="heading-title-2">
          <div sectionIcon>
            <i aria-hidden="true" class="ion-monitor"></i>
          </div>
          <div sectionIconTitle>
            <h2 class="title iq-tw-7">Fully Responsive</h2>
          </div>
          <div sectionIconDescription>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
          </div>
        </app-section-icon-title>
      </div>
    </div>
    <div class="row text-left icon-shadow">
      <div class="col-lg-6">
        <app-feature-card>
          <div class="icon-box" featureIcon> <i class="ion-social-buffer-outline"></i></div>
          <div class="feature-body" featureBody>
            <h5 class="mt-0 iq-tw-6">High Quality Unique Design</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </app-feature-card>
      </div>
      <div class="col-lg-6">
        <app-feature-card>
          <div class="icon-box" featureIcon> <i class="ion-ios-toggle-outline"></i></div>
          <div class="feature-body" featureBody>
            <h5 class="mt-0 iq-tw-6">Marketing Tools</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </app-feature-card>
      </div>
      <div class="col-lg-6 iq-mt-50">
        <app-feature-card>
          <div class="icon-box" featureIcon> <i class="ion-ios-browsers-outline"></i></div>
          <div class="feature-body" featureBody>
            <h5 class="mt-0 iq-tw-6">Software Services</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          </app-feature-card>
      </div>
      <div class="col-lg-6 iq-mt-50">
        <app-feature-card>
          <div class="icon-box" featureIcon> <i class="ion-ios-barcode-outline"></i></div>
          <div class="feature-body" featureBody>
            <h5 class="mt-0 iq-tw-6">Unique Coding</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </app-feature-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-fluid center-block" src="./assets/images/drive/20.png" alt="">
      </div>
    </div>
    <a class="button iq-mt-30 rbtn" href="# ">Discover More</a>
  </div>
</section>
