<app-parallax-hero-style1 ids="great-screenshots" classNames="overview-block-ptb iq-bg-over  iq-over-blue-80 iq-screenshots iq-parallax" bgImage="assets/images/bg/07.jpg">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="heading-title white">
               <h3 class="title iq-tw-7">Great Screenshots</h3>
               <p class="iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
            </div>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-sm-12">
            <div class="screenshots-slider popup-gallery">
               <div class="slider-container">
                  <div class="slider-content">
                     <div class="slider-single">
                        <a href="assets/images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="assets/images/screenshots/01.jpg" alt="1" /></a>
                     </div>
                     <div class="slider-single">
                        <a href="assets/images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="assets/images/screenshots/02.jpg" alt="2" /></a>
                     </div>
                     <div class="slider-single">
                        <a href="assets/images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="assets/images/screenshots/03.jpg" alt="3" /></a>
                     </div>
                     <div class="slider-single">
                        <a href="assets/images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="assets/images/screenshots/04.jpg" alt="4" /></a>
                     </div>
                     <div class="slider-single">
                        <a href="assets/images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="assets/images/screenshots/05.jpg" alt="5" /></a>
                     </div>
                     <div class="slider-single">
                        <a href="assets/images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="assets/images/screenshots/06.jpg" alt="6" /></a>
                     </div>
                  </div>
                  <a class="slider-left" (click)="swipeLeft()" href="javascript:void(0);"><i class="fa fa-angle-left"></i></a>
                  <a class="slider-right" (click)="swipeRight()" href="javascript:void(0);"><i class="fa fa-angle-right"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</app-parallax-hero-style1>