<!-- Banner -->
<app-parallax-hero-style1 ids="iq-home" bgImage="./assets/images/bg/01.jpg" classNames="iq-banner-02 overview-block-pt iq-bg-over iq-over-blue-90 iq-parallax">
  <div class="container">
    <div class="banner-text text-center">
      <div class="row">
        <div class="col-md-12">
          <h1 class=" iq-font-white iq-tw-8">Perfect Landing Template</h1>
          <p class="iq-font-white iq-pt-15 iq-mb-20 iq-mlr-100 iq-plr-50">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
          <a href="javascript:void(0)" class="button bt-black iq-mt-10 iq-mb-50">Download</a>
        </div>
        <div class="col-md-12">
          <img class="banner-img img-fluid center-block" src="./assets/images/banner/03.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="banner-objects">
    <span class="banner-objects-01" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-50px);">
      <img src="./assets/images/drive/03.png" alt="drive02">
    </span>
    <span class="banner-objects-02 iq-fadebounce">
      <span class="iq-round"></span>
    </span>
    <span class="banner-objects-03 iq-fadebounce">
      <span class="iq-round"></span>
    </span>
    <span class="banner-objects-04" data-bottom="transform:translatex(100px)" data-top="transform:translatex(-100px);">
      <img src="./assets/images/drive/04.png" alt="drive02">
    </span>
  </div>
</app-parallax-hero-style1>
<!-- Banner End -->
