<app-parallax-hero-style1 ids="iq-home" bgImage="./assets/images/bg/01.jpg" classNames="overview-block-ptb iq-over-blue-80 text-center iq-parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 search-btn">
        <div class="heading-title white iq-mb-40">
          <h3 class="title iq-tw-7">Subscribe Our Newsletter</h3>
        </div>
        <input type="text" placeholder="Enter your email" name="email">
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</app-parallax-hero-style1>
