<app-loader></app-loader>
<!-- Header -->
<app-header-style1 [logoImg]="navLogo" [navItemList]="navItems" [styledLogo]="false">
<a href="#" class="button bt-black pull-right" navContent>Download</a>
</app-header-style1>
<!-- Header End -->
<!-- Home section start -->
<app-home></app-home>
<!-- Home section end -->
<!-- Main Content -->
<div class="main-content">
   <app-about></app-about>
   <!-- Great Screenshots -->
   <!--  <app-screen-shot></app-screen-shot>-->
   <!-- Great Screenshots END -->
   <!-- Tab Features -->
   <!--  <app-feature></app-feature>-->
   <!-- Tab Features END -->
   <!-- Sofbox Specialities -->
   <app-specialities></app-specialities>
   <!-- Sofbox Specialities END -->
   <!-- Counter -->
   <app-counter></app-counter>
   <!-- Counter END -->
   <!-- Loved By Our Customers -->
   <app-testimonial></app-testimonial>
   <!-- Loved By Our Customers END -->
   <!-- Affordable Price -->
   <app-pricing></app-pricing>
   <!-- Affordable Price END -->
   <!-- Meet the Team -->
   <app-team></app-team>
   <!-- Meet the Team END -->
   <!-- Compare Services -->
   <app-compare-service></app-compare-service>
   <!-- Compare Services end -->
   <!-- Frequently Asked Questions -->
   <app-faq></app-faq>
   <!-- Frequently Asked Questions END -->
   <!-- Latest Blog Post -->
   <app-blog></app-blog>
   <!-- Latest Blog Post END -->
   <!-- Clients -->
   <app-clients></app-clients>
   <!-- Clients END -->
</div>
<!-- Main Content END -->
<footer>
   <!-- Subscribe Our Newsletter -->
   <app-parallax-hero-style1 classNames="iq-ptb-100 iq-newsletter iq-bg-over iq-over-blue-90 jarallax" bgImage="./assets/images/bg/01.jpg">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="heading-title white iq-mb-40">
                  <h3 class="title iq-tw-7">Subscribe Our Newsletter</h3>
               </div>
            </div>
         </div>
         <div class="row justify-content-center">
            <div class="col-lg-7">
               <form class="form-inline">
                  <input type="text" name="email" value="..." autocomplete="username email" style="display: none;" />
                  <div class="form-group">
                     <label for="inputPassword2" class="sr-only">Password</label>
                     <input type="password" class="form-control" id="inputPassword2" placeholder="Enter your email" autocomplete="new-password">
                  </div>
                  <a class="button bt-black iq-ml-25" href="javascript:void(0)">subscribe</a>
               </form>
            </div>
         </div>
      </div>
   </app-parallax-hero-style1>
   <!-- Subscribe Our Newsletter END -->
   <!-- Footer Info -->
   <app-contact></app-contact>
   <app-footer-style3>
      <p address>1234 North Avenue Luke Lane, South Bend, IN 360001</p>
      <p phone>+0123 456 789
         <br>Mon-Fri 8:00am - 8:00pm
         <br>
      </p>
      <p mail>support@sofbox.com
         <br>24 X 7 online support
         <br>
      </p>
      <ul links>
         <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
         <li><a href="javascript:void(0)"><i class="fab fa-facebook"></i></a></li>
         <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
         <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
      </ul>
   </app-footer-style3>
   <!-- Footer Info End-->
</footer>
<!-- Color Style customizer-->
<app-color-customizer></app-color-customizer>
<!-- Color Style customizer end-->
<!-- Scroll to top-->
<app-scroll-top></app-scroll-top>
<!-- Scroll to top end-->
