<section class="grey-bg bg-full-features">
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-lg-6">
        <app-parallax-hero-style1 classNames="d-inline-block w-100 h-100 iq-parallax" data-jarallax='{"speed": 0.6}' bgImage="./assets/images/bg/02.jpg">
        </app-parallax-hero-style1>
      </div>
      <div class="col-lg-4">
        <div class="iq-mtb-100">
          <h2 class="iq-tw-6 iq-mb-25">Software Features</h2>
          <p class="iq-font-15">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          <p class="iq-font-15">It has survived not only five centuries, but also the leap into electronic type setting.</p>
        </div>
      </div>
    </div>
  </div>
</section>
