<section class="iq-showcase pt-0">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h6 class="title text-white">Showcase</h6>
          <h2 class="text-white">Our Showcase</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-sm-12">
        <div class="screenshots-slider popup-gallery">
          <div class="slider-container">
            <div class="slider-content">
              <div class="slider-single">
                <a href="images/screenshots/01.png" class="popup-img"><img class="slider-single-image" src="images/screenshots/01.png" alt="1" /></a>
              </div>
              <div class="slider-single">
                <a href="images/screenshots/01.png" class="popup-img"><img class="slider-single-image" src="images/screenshots/01.png" alt="2" /></a>
              </div>
              <div class="slider-single">
                <a href="images/screenshots/01.png" class="popup-img"><img class="slider-single-image" src="images/screenshots/01.png" alt="3" /></a>
              </div>
              <div class="slider-single">
                <a href="images/screenshots/01.png" class="popup-img"><img class="slider-single-image" src="images/screenshots/01.png" alt="4" /></a>
              </div>
              <div class="slider-single">
                <a href="images/screenshots/01.png" class="popup-img"><img class="slider-single-image" src="images/screenshots/01.png" alt="5" /></a>
              </div>
              <div class="slider-single">
                <a href="images/screenshots/01.png" class="popup-img"><img class="slider-single-image" src="images/screenshots/01.png" alt="6" /></a>
              </div>
            </div>
            <a class="slider-left" href="javascript:void(0);"><i class="fa fa-angle-left"></i></a>
            <a class="slider-right" href="javascript:void(0);"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
