<app-parallax-hero-style1 ids="iq-home"  bgImage="./assets/images/bg/09.jpg" classNames="iq-banner-07 overview-block-ptb iq-bg-over iq-parallax" data-jarallax='{"speed": 0.6}'>
    <!-- BACKGROUND PARTICLES -->
    <div class="container">
        <div class="banner-text">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="iq-font-black text-uppercase iq-tw-5"><b>We are <span class="iq-font-blue">Building Software</span> to Help</b></h1>
                    <p class="iq-font-black iq-pt-15 iq-mb-40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                    <div class="waves-box">
                        <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
                        <div class="iq-waves">
                            <div class="waves wave-1"></div>
                            <div class="waves wave-2"></div>
                            <div class="waves wave-3"></div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="button iq-mt-5 iq-ml-40">Download</a>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
    </div>
</app-parallax-hero-style1>
