<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="./assets/sofbox-v2/images/home-1/16.jpg" class="img-fluid mb-5 mb-lg-0" alt="blogimage1">
            </div>
            <div class="col-lg-6">
                <app-v-two-section-title [titleSectionProp]="titleSectionProp"></app-v-two-section-title>
                <div class="iq-services-box wow fadeInUp text-left">
                    <div *ngFor="let list of List" class="services-content">
                        <h6>{{ list.title }}</h6>
                        <span class="progress-value">{{ list.value }}%</span>
                        <div class="iq-progress-bar">
                            <span class="position-relative" [attr.data-percent]="list.value"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>