<!-- Banner -->
<app-section-banner-style1 [reverse]="true">
  <div media>
    <img src="assets/images/bg/17.png" class="banner-img img-fluid iq-pr-50" alt="">
    <img src="assets/images/bg/18.png" class="img-fluid banner-ani wow fadeInRight" alt="">
  </div>
  <div content>
    <h2 class="iq-mb-20 iq-tw-9 r-mt-30">Sofbox</h2>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
    <a href="javascript:void(0)" class="button bt-black iq-mt-5 ">Download</a>
  </div>
</app-section-banner-style1>
<!-- Banner End -->
