<section class="iq-pricing pt-0" id="pricing">
  <div class="container ">
    <div class="row no-gutters">
      <div class="col-sm-12">
        <app-black-section-title title="Pricing" subtitle="Our Pricing"></app-black-section-title>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="tab-content " id="pills-tabContent">
          <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 ">
                <app-black-pricing-card-style1>
                  <div cardHeader>
                    <h4 class="text-gray mb-5">Personal</h4>
                    <h2>19$<span>/ Per Month</span></h2>
                  </div>
                  <div cardBody>
                    <ul class="">
                      <li class=""><i class="fas fa-check-circle"></i>Ut eu lectus consequat.</li>
                      <li class=""><i class="fas fa-check-circle"></i>Aenean a neque.</li>
                      <li class=""><i class="fas fa-times-circle"></i>Aenean lacinia porttitor.</li>
                      <li class=""><i class="fas fa-times-circle"></i>Unknown printer took</li>
                      <li class=""><i class="fas fa-times-circle"></i>Embarrassing hidden</li>
                    </ul>
                    <div cardFooter>
                      <a class="button mt-5" href="#">Choose Plan</a>
                    </div>
                  </div>
                </app-black-pricing-card-style1>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 ">
                <app-black-pricing-card-style1>
                  <div cardHeader>
                    <h4 class="text-gray mb-5">Business</h4>
                    <h2>49$<span>/ Per Month</span></h2>
                  </div>
                  <div cardBody>
                    <ul class="">
                      <li class=""><i class="fas fa-check-circle"></i>Ut eu lectus consequat.</li>
                      <li class=""><i class="fas fa-check-circle"></i>Aenean a neque.</li>
                      <li class=""><i class="fas fa-check-circle"></i>Aenean lacinia porttitor.</li>
                      <li class=""><i class="fas fa-times-circle"></i>Unknown printer took</li>
                      <li class=""><i class="fas fa-times-circle"></i>Embarrassing hidden</li>
                    </ul>
                  </div>
                  <div cardFooter>
                    <a class="button mt-5" href="#">Choose Plan</a>
                  </div>
                </app-black-pricing-card-style1>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 ">
                <app-black-pricing-card-style1>
                  <div cardHeader>
                    <h4 class="text-gray mb-5">Enterprise</h4>
                    <h2>99$<span>/ Per Month</span></h2>
                  </div>
                  <div cardBody>
                    <ul class="">
                      <li class=""><i class="fas fa-check-circle"></i>Ut eu lectus consequat.</li>
                      <li class=""><i class="fas fa-check-circle"></i>Aenean a neque.</li>
                      <li class=""><i class="fas fa-check-circle"></i>Aenean lacinia porttitor.</li>
                      <li class=""><i class="fas fa-check-circle"></i>Unknown printer took</li>
                      <li class=""><i class="fas fa-check-circle"></i>Embarrassing hidden</li>
                    </ul>
                  </div>
                  <div cardFooter>
                    <a class="button mt-5" href="#">Choose Plan</a>
                  </div>
                </app-black-pricing-card-style1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
