<app-loader></app-loader>

<!-- Header component start-->
<app-header-style1 [logoImg]="navLogo" className="header-white p-0" [navItemList]="navItems">
    <!-- <a href="#" class="button pull-right" navContent>Download</a> -->
</app-header-style1>
<!-- Header component end-->


<div class="main-content">
    <app-home></app-home>

    <app-about></app-about>

    <app-service></app-service>

    <app-specialities></app-specialities>

    <!-- <app-counter></app-counter> -->

    <!-- <app-testimonial></app-testimonial> -->

    <!-- <app-pricing></app-pricing> -->

    <!-- <app-team></app-team> -->

    <!-- <app-compare-services></app-compare-services> -->

    <!-- <app-faq></app-faq> -->

    <!-- <app-blog></app-blog> -->

    <app-clients></app-clients>
</div>
<!-- Main Content END -->


<footer>
    <!-- Subscribe Our Newsletter -->
    <!-- <app-parallax-hero-style1 classNames="iq-ptb-100 iq-newsletter iq-bg-over iq-over-blue-90 jarallax" bgImage="./assets/images/bg/01.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title white iq-mb-40">
                        <h3 class="title iq-tw-7">Subscribe Our Newsletter</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <form class="form-inline">
                        <input type="text" name="email" value="..." autocomplete="username email" style="display: none;" />
                        <div class="form-group">
                            <label for="inputPassword2" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="inputPassword2" placeholder="Enter your email" autocomplete="new-password">
                        </div>
                        <a class="button bt-black iq-ml-25" href="javascript:void(0)">subscribe</a>
                    </form>
                </div>
            </div>
        </div>
    </app-parallax-hero-style1> -->
    <!-- Subscribe Our Newsletter END -->
    <!-- Footer Info -->

    <app-contact></app-contact>

    <app-footer-style3>
        <p address>Thomas Tera Haven, Ajah</p>
        <p phone>+2348095194311
            <br>Mon-Fri 8:00am - 5:00pm
            <br>
        </p>
        <p mail>corporate@sixteenhundreds.com
            <br>24 X 7 online support
            <br>
        </p>
        <ul links>
            <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-facebook"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
            <li><a href="https://www.instagram.com/sixteenhundreds/?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </app-footer-style3>
    <!-- Footer Info End-->
</footer>