<!-- How it Works -->
<section id="how-it-works" class="overview-block-ptb it-works">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <app-section-title
               title="What is sofbox ?"
               subTitle="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
               ></app-section-title>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12 col-lg-4">
            <app-card-style5 step="1">
               <img cardMedia src="./assets/images/services/icon1.png" class="img-fluid" alt="#">
               <div cardBody>
                  <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Easy to Customize</h5>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
               </div>
            </app-card-style5>
         </div>
         <div class="col-md-12 col-lg-4 r-mt-30">
            <app-card-style5 step="2">
               <img cardMedia src="./assets/images/services/icon2.png" class="img-fluid" alt="#">
               <div cardBody>
                  <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Multipurpose layout</h5>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
               </div>
            </app-card-style5>
         </div>
         <div class="col-md-12 col-lg-4 r-mt-30">
            <app-card-style5 step="3">
               <img cardMedia src="./assets/images/services/icon3.png" class="img-fluid" alt="#">
               <div cardBody>
                  <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">Unique Design</h5>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
               </div>
            </app-card-style5>
         </div>
      </div>
   </div>
</section>
<!-- How it Works END -->
<!-- Who is Sofbox ? -->
<app-section-style1>
   <div class="col-lg-6" cardBody>
      <div class="heading-title left text-left">
         <h3 class="iq-tw-7 iq-mb-25 title">What can sofbox do ?</h3>
      </div>
      <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      <p class="iq-mt-20">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</p>
      <h6 class="iq-tw-6 iq-mb-15 iq-mt-25">Discover our best ever services.</h6>
      <a href="javascript:void(0)" class="button iq-mt-20">Click Here</a>
   </div>
   <div class="col-lg-6 align-self-center" cardMedia>
      <img class="iq-works-img pull-right img-fluid" src="./assets/images/drive/01.png" alt="drive01">
   </div>
</app-section-style1>
<!-- Who is Sofbox ? END -->
<!-- Software Features -->
<app-section-style2 id="software-features" [small]="true">
   <div class="iq-software-demo" cardMedia>
      <img class="img-fluid" src="./assets/images/drive/05.png" alt="drive05">
   </div>
   <div class="col-lg-6 offset-lg-6" cardBody>
      <div class="heading-title left text-left">
         <h3 class="iq-tw-7 iq-mb-25 title">Software Features</h3>
      </div>
      <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>
      <ul class="iq-mt-40 iq-list">
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">It is a long established fact that a reader will be distracted by the readable content.</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece.</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</span></li>
         <li class="iq-tw-6 iq-mb-15"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type setting industry.</span></li>
      </ul>
   </div>
</app-section-style2>
<!-- Software Features END -->
