<section class="iq-about-us position-relative iq-rpt-0">
  <div class="container ">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <app-black-section-title2 title="About Us" subtitle="Why Choose Us?" titlecontent="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or "></app-black-section-title2>

        <div class="row">
          <a class="button" href="#">Read More</a>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>
    <div class="right-image wow slideInRight">
      <img src="./assets/sofbox-sass-black/images/about/01.png" class="img-fluid" alt="images">
    </div>
  </div>
</section>
