<section>
    <div class="container">
        <div class="row justify-content-center">
            <div *ngFor="let list of List" class="col-lg-4 col-md-6">
                <div class="color-palette style-three wow fadeInUp text-left {{ list.hoverClass }}" data-wow-delay="0.4s">
                    <div class="media">
                        <div class="circle-style">
                            <div class="circle-icon">
                                <i aria-hidden="true" class="{{ list.icon }}"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h5 class="color-text mb-2">{{ list.title }}</h5>
                            <p class="mb-0">{{ list.desc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>