<!--=================================
      Header -->
<!--=================================
    MAIN CONTENT -->
  <div class="main-content iq-coming">
      <!--================================
      Coming Soon -->

      <section class="main-bg coming-height">
        <div class="text-center">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="big-text mt-lg-5 pt-lg-5">Coming Soon</div>
                <h2 class="small-text font-weight-normal text-white">We are still Working on it.</h2>
                <ul id="countdown" class="mt-5 mb-5">
                  <li><span class="days">00</span>
                  <p class="days_text">Days</p>
                </li>

                <li><span class="hours">00</span>
                <p class="hours_text">Hours</p>
              </li>

              <li><span class="minutes">00</span>
              <p class="minutes_text">Minutes</p>
            </li>

            <li><span class="seconds">00</span>
            <p class="seconds_text">Seconds</p>
          </li>
        </ul>
        <form class="p-0 d-flex justify-content-center">
          <div class="form-row align-items-center">
            <div class="col-auto p-0 mb-2"><label>Notify Me About That!</label>
              <input type="text" class="form-control subscription-email" id="inlineFormInput" placeholder="you@example.com">
               <button type="submit" class="btn button mb-2 subscription-button"><i class="ion-paper-airplane"></i></button>
            </div>
            <div class="col-auto p-0">

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</section>

<!--================================
Coming Soon -->
</div>
<!--=================================
MAIN CONTENT  END-->
