<app-loader></app-loader>
<!-- Header Component Start-->
<app-header-style3 [logoImg]="navLogo" className="main-bg" [navItemList]="navItems"></app-header-style3>
<!-- Header Component End-->
<!--=================================
      Header -->
<app-slider></app-slider>
<!-- Main Content -->
<div class="main-content">
  <!--How It Work -->
  <app-how-it-works></app-how-it-works>
  <!-- How It Work End -->

  <!-- About Us -->
  <app-about-us></app-about-us>
  <!-- About Us End -->
  <!-- About  Feature -->
  <app-about-feature></app-about-feature>
  <!-- About Feature End -->
  <!-- Why choose us -->
  <app-why-choose-us></app-why-choose-us>
  <!-- Why choose Us End -->
  <!-- Feature -->
  <app-feature></app-feature>
  <!-- Feature End -->
  <!-- Team -->
  <app-team></app-team>
  <!-- Team End -->
  <!-- Testimonial -->
  <app-testimonial></app-testimonial>
  <!-- Testimonial End -->
  <!-- Pricing Table -->
  <app-pricing></app-pricing>
  <!-- Pricing Table End -->
  <app-blogs></app-blogs>
  <!-- Our Client -->
  <section class="iq-clients pt-0">
    <div class="container ">
      <div class="row">
        <div class="col-sm-12">
          <app-client></app-client>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Client End-->
</div>
<!-- Main Content END -->
<!-- Footer Start -->
<!-- Footer component start -->
<app-footer></app-footer>
<!-- Footer component end -->
<!-- Scroll to top component start -->
<app-scroll-top></app-scroll-top>
<!-- Scroll to top component end -->

