<div class="overview-block-ptb services-page grey-bg" id="software-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h3 class="iq-tw-6 iq-mb-25 ">Sofbox Features </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <app-card-style9>
          <img src="./assets/images/icon/01.png" class="img-fluid" alt="" cardMedia>
          <h4 cardTitle>Fully Support</h4>
          <p cardBody>There are many variations of passages of Lorem Ipsum available, but the have suffered in some form.</p>
        </app-card-style9>
      </div>
      <div class="col-sm-4">
        <app-card-style9>
          <img src="./assets/images/icon/02.png" class="img-fluid" alt="" cardMedia>
          <h4 cardTitle>Market Analysis</h4>
          <p cardBody>There are many variations of passages of Lorem Ipsum available, but the have suffered in some form.</p>
        </app-card-style9>
      </div>
      <div class="col-sm-4">
        <app-card-style9>
          <img src="./assets/images/icon/03.png" class="img-fluid" alt="" cardMedia>
          <h4 cardTitle>Product Review</h4>
          <p cardBody>There are many variations of passages of Lorem Ipsum available, but the have suffered in some form.</p>
        </app-card-style9>
      </div>

    </div>

  </div>
</div>
