<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel arrow" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1">
                    <div *ngFor="let list of List" class="items">
                        <img class="img-fluid" src="{{ list.image }}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>