<section id="iq-services" class="overview-block-pt how-works r-mt-40 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="iq-tw-6 iq-mb-25 ">Easy to Work Mail</h2>
                <h6 class="iq-font-blue iq-tw-6">Simply dummy text of the printing and typesetting industry.</h6>
                <p class="iq-font-15">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <h6 class="iq-font-blue iq-tw-6">Simply dummy text of the printing and typesetting industry.</h6>
                <p class="iq-font-15">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <h6 class="iq-font-blue iq-tw-6">Simply dummy text of the printing and typesetting industry.</h6>
                <p class="iq-font-15">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="col-lg-6 align-self-center">
                <img class="iq-works-img" src="./assets/images/drive/19.png" alt="drive01">
            </div>
        </div>
    </div>
</section>
