<app-loader></app-loader>
<!-- Header Start -->
<app-header-style1 [logoImg]="navLogo" className="" [navItemList]="navItems" [styledLogo]="false">
  <a href="javascript:void(0)" class="button bt-black pull-right" navContent>Download</a>
</app-header-style1>
<!-- Header End -->
<!-- Banner Start-->
<app-home></app-home>
<!-- Banner End -->
<div class="main-content">
  <!-- Features Start-->
  <app-features></app-features>
  <!-- Features End-->
  <!-- Features Two Start -->
  <app-features-two></app-features-two>
  <!-- Features Two End -->
  <!-- Responsive Start -->
  <app-responsive></app-responsive>
  <!-- Responsive End -->
  <!-- Footer Start -->
  <div id="iq-contact">
  <app-footer-style1 [footerText]="footerText" [socialNavItemList]="socialNavItems"></app-footer-style1>
  </div>
  <!-- Footer End -->
  <!-- Color Style customizer start -->
  <app-color-customizer></app-color-customizer>
  <!-- Color Style customizer end-->
  <!-- Scroll to top start -->
  <app-scroll-top></app-scroll-top>
  <!-- Scroll to top end-->
</div>
