<div class="main-slider position-relative">
  <div class="d-flex flex-wrap align-items-center">
    <div class="col-md-6 col-lg-8 slider-left-block">
      <h1 class="slider-title">Best Ever Saas Landing <br>Template </h1>
      <p class="slider-description mt-5">here are many variations of passages of Lorem Ipsum available, but the majority have <br>suffered alteration in some form, by injected humour, or randomised words<br>which don't look even slightly believable. </p>
      <a class="button mt-5 slider-btn" href="#">Read More</a>
    </div>
    <div class="col-md-6 col-lg-4"></div>
  </div>
  <div class="right-slider-image">
    <img src="./assets/sofbox-sass-black/images/about/01.png" class="img-fluid" alt="images">
  </div>
</div>